/* Borde cuando está enfocado */
.p-select.p-component.p-focus {
  border-color: #9cafcd !important;
  box-shadow: 0 0 0 0.2rem rgba(156, 175, 205, 0.5);
}

/* Borde cuando tiene un valor seleccionado */
.p-select.p-component.p-filled {
  border-color: #9cafcd !important;
  box-shadow: 0 0 0 0.2rem rgba(156, 175, 205, 0.5);
}

/* Borde default */
.p-select.p-component {
  border: 1px solid #ced4da;
  border-radius: 4px;
}
